.list{
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid skyblue;

  span:first-child{
    flex: 3;
    font-size: 1.2em;
    font-weight: 400;
  }

  span{
    flex: 1;
  }
}
